{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">
        <div class="site-main-feeds">
            <div class="post-feed post-feed-featured">
                {{#foreach posts as |post|}}
                    {{#post}}
                        {{#if featured}}
                            {{> "post-card"}}
                        {{/if}}
                    {{/post}}
                {{/foreach}}
            </div>
            <div class="archive-button-wrapper">
                <a class="archive-button" href="/archive">Archive →</a>
            </div>
        </div>
    </div>
</main>
