{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">
        <div class="site-main-feeds">
            <div class="post-feed post-feed-featured">
                <p style="padding-bottom: 10px;">Featured posts. The rest of the posts live in archive.</p> 
                {{#foreach posts as |post|}}
                    {{#post}}
                        {{#if featured}}
                            {{> "post-card"}}
                        {{/if}}
                    {{/post}}
                {{/foreach}}
            </div>
            {{!-- <div class="post-feed post-feed-thoughts">
                <p style="padding-bottom: 10px;">Quick thoughts. Too short for an article, too long for a tweet.</p> 
                {{#foreach posts}}
                    {{#has tag="thoughts"}}
                        {{> "post-card"}}
                    {{/has}}
                {{/foreach}}
            </div> --}}
        </div>
    </div>
</main>
